<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usyd.mingyi.animalcare.mapper.UserMapper">
    <select id="queryUser" resultMap="userInfo">
        SELECT *
        FROM user AS u
        LEFT JOIN post AS po ON u.id = po.post_user_id
        LEFT JOIN pet AS pe ON u.id = pe.pet_user_id
        LEFT JOIN image as im on po.post_id=im.image_post_id
        WHERE u.username = #{username} and u.password = #{password}
    </select>

    <select id="getProfile" resultMap="userInfo">
        SELECT *
        FROM user AS u
                 LEFT JOIN post AS po ON u.id = po.post_user_id
                    <if test="targetUserId!=currentUserId">
                        AND po.visible = true
                   </if>
                 LEFT JOIN pet AS pe ON u.id = pe.pet_user_id
                    <if test="targetUserId != currentUserId">
                        AND pe.pet_visible = true
                    </if>
                 LEFT JOIN image as im on po.post_id=im.image_post_id
        WHERE u.id = #{targetUserId}
    </select>
    <resultMap id="userInfo" type="UserDto">
        <result property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="nickName" column="nickname"/>
        <result property="description" column="description"/>
        <result property="email" column="email"/>
        <result property="uuid" column="uuid"/>
        <result property="avatar" column="avatar"/>
        <result property="loveList" column="love_list"/>
        <collection property="postList" ofType="Post">
            <id property="postId" column="post_id"/>
            <result property="topic" column="topic"/>
            <result property="userId" column="post_user_id"/>
            <result property="love" column="love"/>
            <result property="postContent" column="post_content"/>
            <result property="images" column="images"/>
            <result property="visible" column="visible"/>
        </collection>
        <collection property="petList" ofType="Pet">
            <id property="petId" column="pet_id"/>
            <result property="petName" column="name"/>
            <result property="category" column="category"/>
            <result property="petAvatar" column="pet_image_address"/>
            <result property="petVisible" column="pet_visible"/>
        </collection>
    </resultMap>

    <insert id="addUser" parameterType="User">
          insert into user (username,password,uuid,email,avatar,nickname) values (#{userName},#{password},#{uuid},#{email},#{avatar},#{nickName})
    </insert>

    <select id="queryPassword" parameterType="String" resultType="String">
        select password from user where username = #{username}
    </select>

    <update id="updateUser" parameterType="User">
        update user
        set  <if test="email !=null and email !=''">email = #{email},</if> nickname = #{nickName}, description = #{description}<if test="avatar !=null and avatar !=''">,avatar = #{avatar}</if>
        where id = #{id};
    </update>

    <select id="queryUserByUsername" resultType="User">
        select * from user where username = #{username}
    </select>

    <update id="updatePassword">
        update user
        set password=#{password}
        where username = #{username}
    </update>

</mapper>